header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;

  li {
    margin-right: 30px;
    vertical-align: middle;
  }

  img {
    margin-right: 15px;
  }

  span {
    margin-left: 10px;
  }

  h3,
  p {
    margin: 0;
  }
}